.center {text-align: center;}
.error {color: red;}
label {font-weight:bold;}
.bold {font-weight: bold;}
.button-small {font-size: 90%;}
.pure-form fieldset{display: inline-block; border: 1px solid silver;}
table {margin:auto;}